<template name="home">
    {{> sidebar}}
    <div class="rightcontent">
        <div class="maincontentwrap">
            {{>interestingFact}}
            <div class="row">
                <div class="col-sm-12">
                <div class="col-sm-6">{{> eventsCalender}}</div>
                <div class="col-sm-4">{{> quiz}}</div>
                </div>
            </div>
            Home
            1 - Alerts
            2 - Guidance
            3 - Facts
            4 - Questions
            5 - Events Calender
        </div>
    </div>
</template>
