<head>
    <title>Campus Life</title>
    <script src="/js/scripts.js"></script>
</head>

<template name="sidebar">
    <div class="sidebar expand">
        <div class="sidebarwrap">
            <div class="sidelogo"><i>Campus Life</i></div>
            {{currentUser}}
            <ul class="sidenav">
                <li>
                    <a class="home" href="{{pathFor 'home'}}" title="home">Home<i class="fa fa-home" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a class="search" href="{{pathFor 'search'}}" title="search">Search<i class="fa fa-search" aria-hidden="true"></i></a>
                </li>
                <h5 class="sidelabel">Account<i class="fa fa-user" aria-hidden="true"></i></h5>
                <li>
                    <a class="profile" href="{{pathFor 'profile'}}" title="profile">Profile<i class="fa fa-user" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a class="preferences" href="{{pathFor 'preferences'}}" title="preferences">Preferences<i class="fa fa-sliders" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a id="logout" class="logoff" href="{{pathFor 'logoff'}}" title="logoff">Logoff<i class="fa fa-sign-out" aria-hidden="true"></i></a>
                </li>
            </ul>
            <div class="sidefooter">
                <h5 class="sidelabel">User</h5>
                <div class="sublimegrid">

                </div>
            </div>
        </div>
    </div>
</template>
