<head>
    <title>Campus Life</title>
    <script src="/js/scripts.js"></script>
</head>

<template name="sidebar">
    <div class="sidebar expand">
        <div class="sidebarwrap">
            <div class="sidelogo"><i>Campus Life</i></div>
            <ul class="sidenav">
                <h5 class="sidelabel">Around Me<i class="fa fa-map-marker" aria-hidden="true"></i></h5>
                <h5 class="sidelabel">Search<i class="fa fa-binoculars" aria-hidden="true"></i></h5>
                <li>
                    <a class="recentSearch" href="" title="recentSearch">Recent<i class="fa fa-history" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a class="recentSearch" href="" title="recentSearch">New<i class="fa fa-plus" aria-hidden="true"></i></a>
                </li>
                <h5 class="sidelabel">Account<i class="fa fa-user" aria-hidden="true"></i></h5>
                <li>
                    <a class="recentSearch" href="" title="recentSearch">Profile</a>
                </li>
                <li>
                    <a class="recentSearch" href="" title="recentSearch">Preferences<i class="fa fa-sliders" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a class="recentSearch" href="" title="recentSearch">Logoff<i class="fa fa-sign-out" aria-hidden="true"></i></a>
                </li>
            </ul>
            <div class="sidefooter">
                <h5 class="sidelabel">User</h5>
                <div class="sublimegrid">

                </div>
            </div>
        </div>
    </div>
</template>
