<template name="profile">
    {{> sidebar}}
    <div class="rightcontent">
        <div class="maincontentwrap">
            <div class="narrowrap">
                <h1 class="formhead">Profile</h1>
                <div class="institutions">
                    <Legend>Education</Legend>
                    <div class="right">
                        <a id="add-education"><i class="fa fa-plus-square-o" aria-hidden="true"></i>Add</a>
                    </div>
                    <br>
                    {{#if isAdding}}
                        {{>addEducation}}
                    {{/if}}

                    <br>
                    <div class="display-list">
                        {{#each educations}}
                            {{>viewEducation}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
